<h3 class="text-3xl font-bold dark:text-white">Boletas de la tienda online ventas productos</h3>
<navbar></navbar>
<div class="flex flex-col items-start space-y-3">
      <button type="button" 
              class="text-black primarybutton font-semibold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mb-3"
              (click)="navigateTo('get-boletas')">Obtener boletas
      </button>
      <button type="button" 
              class="text-black primarybutton font-semibold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mb-3"
              (click)="navigateTo('post-boletas')">Agregar boletas
      </button>
      <button type="button" 
              class="text-black primarybutton font-semibold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mb-3"
              (click)="navigateTo('put-boletas')">Modificar boletas
      </button>
      <button type="button" 
              class="text-black primarybutton font-semibold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mb-3"
              (click)="navigateTo('delete-boletas')">Eliminar boletas
      </button>
</div>
