<h3 class="text-3xl font-bold dark:text-white">Modificar Usuarios de la tienda online ventas productos</h3>
<navbar></navbar>
<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label>Nombre:</label>
  <input formControlName="name" type="text" />
  
  <label>Género:</label>
  <select formControlName="gender">
    <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
  </select>
  
  <label>Fecha de Nacimiento:</label>
  <input formControlName="birthdate" type="date" />
  
  <button type="submit" [disabled]="userForm.invalid">Guardar Cambios</button>
</form>
